<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Unique identifier</th>
      <th>Zip code</th>
      <th>Additional info url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.category %></td>
        <td><%= event.unique_identifier %></td>
        <td><%= event.zip_code %></td>
        <td><%= event.additional_info_url %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Notify', notify_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
